.center {
    margin: 0 250px;
    /*box-shadow: 0px 0px 8px #999;*/
}
.left {
    float: left;
}
.right {
    float: right;
}
.avatar {
    width:  102px;
    height: 102px;
    margin: 10px auto;
    border: 3px solid #eee;
}
.avatar a {
    display: block;
    width:  100px;
    height: 100px;
    background: url('');
    border: 1px solid #ccc;
}
.avatar a:hover {
    
}
#header {
}
#banner {
    overflow: auto;
}
#banner ,
#menu > .center > ul,
#main > .center article,
#byline {
    max-width: 1000px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#logo {
    float: left;
    width: 100px;
    height: 80px;
}
#main {
    overflow: auto;
    padding: 24px 0;
    border-top:    1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#main > .center {
}
#content {
}
#content > article {
    margin-bottom: 16px;
    background: #fff;
    border: 3px solid #eee;
}
#content > article > header {
    border-top: 1px solid #ccc;
}
#content > article > p {
}
#content > article > footer {
    overflow: auto;
    margin-bottom: 8px;
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
}
#content > article > footer > span {
    float: right;
    padding: 0.4em;
}
#content > article > header,
#content > article > p,
#content > article > footer {
    margin: 0;
    padding: 6px;
    border-left:  1px solid #ccc;
    border-right: 1px solid #ccc;
}
#main > aside {
    width: 200px;
    background: #fff;
    border-top:    3px solid #eee;
    border-bottom: 3px solid #eee;
}
#main > aside.left {
    border-right: 3px solid #eee;
}
#main > aside.right {
    border-left: 3px solid #eee;
}
#main > aside > div {
    padding: 0 5px;
    border-top:    1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#main > aside.left > div {
    border-right:   1px solid #ccc;
}
#main > aside.right > div {
    border-left:   1px solid #ccc;
}
#footer {
    border-top:   3px solid #eee;
    border-left:  1px solid #ccc;
    border-right: 1px solid #ccc;
}
#byline {
    padding: 10px;
    font-size: 0.9em;
}
