<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Example layout #2 &bull; Home</title>
  <meta name="description" content="Example layout #1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="base.css" media="screen">
  <link rel="stylesheet" href="global.css" media="screen">
  <link rel="stylesheet" href="nav.css" media="screen">
  <link rel="stylesheet" href="screen_small.css" media="screen and (max-width: 1200px)">
  <link rel="stylesheet" href="print.css" media="print">
</head>

<body>

  <header id="header">
    <div class="center">
      <div id="banner">
        <div id="logo">
          <img src=""/>
        </div>
        <h1>Example Layout #2</h1>
      </div>
    </div>
  </header>
  <nav id="menu" class="menu" data-startlevel="0" data-sublevels="0">
    <div class="center">
      <ul>
        <li><a href="home">Home</a></li> 
        <li><a href="blog">Blog</a></li> 
        <li><a href="about">About</a></li> 
        <li><a href="contact">Contact</a></li> 
      </ul>
    </div>
  </nav>
    
  <div id="main" role="main">
    <aside class="left">
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies lobortis lectus, et tempor arcu varius at.
        </p>
      </div>
    </aside>
    <aside class="right">
      <div>
        <div class="avatar">
          <a href="#" title="Avatar"></a>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies lobortis lectus, et tempor arcu varius at.
        </p>
      </div>
    </aside>
    <div class="center">
      <!-- Will be replaced by a menu in the CMS -->
      <nav id="submenu" class="menu" data-startlevel="1" data-sublevels="3"></nav>      
      
      <div id="content" class="editable">
        <article>
          <header>
             <h3>Vivamus scelerisque nisi at neque gravida fermentum.</h3>
          </header>
          <p>
            Lorem <a href="">ipsum</a> dolor sit amet, consectetur adipiscing elit. Ut ultricies lobortis lectus, et tempor arcu varius at. Duis odio magna, vehicula eget bibendum sed, mattis eget enim. Fusce id nulla nisi, ac sollicitudin mi. Donec dignissim, lectus vitae porttitor aliquet, lectus mauris varius massa, eget lobortis urna felis eget neque. Morbi volutpat fermentum nisi non eleifend. Quisque in erat dui, vitae eleifend velit. In hac habitasse platea dictumst. In magna libero, semper pellentesque vestibulum non, ultricies nec mi.

            Phasellus vitae pharetra ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec bibendum mattis purus vitae interdum. Nulla ullamcorper eleifend mauris et facilisis. Curabitur mauris elit, elementum sodales tincidunt eu, interdum sit amet neque. Proin erat turpis, molestie a consectetur nec, interdum ut sem. Vestibulum tincidunt iaculis tempus. Duis ac risus elit, in aliquet est. Vivamus scelerisque nisi at neque gravida fermentum. Phasellus id nisl enim, id dignissim magna. Praesent sapien dui, consectetur eu elementum quis, consequat egestas nulla. Maecenas tincidunt, urna nec viverra dapibus, ipsum odio pharetra est, in lobortis purus dui in nisl. Vivamus sollicitudin, ipsum non interdum rhoncus, tellus mauris congue orci, in placerat risus felis sit amet neque. Curabitur tortor quam, aliquam in sagittis eu, tincidunt eget massa. Phasellus iaculis feugiat risus nec ultricies.
          </p>
          <footer><span>by Albert Arvidsson on 2012-04-24 18:30</span></footer>
        </article>
        <article>
          <header>
            <h3>Lorem ipsum dolor sit amet</h3>
          </header>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies lobortis lectus, et tempor arcu varius at. Duis odio magna, vehicula eget bibendum sed, mattis eget enim. Fusce id nulla nisi, ac sollicitudin mi. Donec dignissim, lectus vitae porttitor aliquet, lectus mauris varius massa, eget lobortis urna felis eget neque. Morbi volutpat fermentum nisi non eleifend. Quisque in erat dui, vitae eleifend velit. In hac habitasse platea dictumst. In magna libero, semper pellentesque vestibulum non, ultricies nec mi.

            Phasellus vitae pharetra ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec bibendum mattis purus vitae interdum. Nulla ullamcorper eleifend mauris et facilisis. Curabitur mauris elit, elementum sodales tincidunt eu, interdum sit amet neque. Proin erat turpis, molestie a consectetur nec, interdum ut sem. Vestibulum tincidunt iaculis tempus. Duis ac risus elit, in aliquet est. Vivamus scelerisque nisi at neque gravida fermentum. Phasellus id nisl enim, id dignissim magna. Praesent sapien dui, consectetur eu elementum quis, consequat egestas nulla. Maecenas tincidunt, urna nec viverra dapibus, ipsum odio pharetra est, in lobortis purus dui in nisl. Vivamus sollicitudin, ipsum non interdum rhoncus, tellus mauris congue orci, in placerat risus felis sit amet neque. Curabitur tortor quam, aliquam in sagittis eu, tincidunt eget massa. Phasellus iaculis feugiat risus nec ultricies.
          </p>
          <footer><span>by Albert Arvidsson on 2012-04-24 18:26</span></footer>
        </article>
      </div>
    </div>
  </div>    
  <footer id="footer">
    <div class="center">
      <div id="byline">
        Example layout #2 by Albert Arvidsson
      </div>
    </div>
  </footer>

</body>
</html>
