#container {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    border-left:  3px solid #eee;
    border-right: 3px solid #eee;
    /*box-shadow: 0px 0px 8px #999;*/
}
#header {
    height: 100px;
    border-left:  1px solid #ccc;
    border-right: 1px solid #ccc;
}
#logo {
    float: left;
    width: 100px;
    height: 60px;
}
#main {
    overflow: hidden;
    min-width: 300px;
    padding: 0 10px;
    border-left:  1px solid #ccc;
    border-right: 1px solid #ccc;
}
#content {
    max-width: none;
    margin-right: 200px;
}
#content > article {
    border-top: 1px solid #ccc;
}
#content > article > footer {
    overflow: hidden;
    margin-bottom: 8px;
    font-size: 0.9em;
}
#content > article > footer > span {
    float: right;
    padding: 0.4em;
}
#main > aside {
    float: right;
    width: 200px;
    padding: 0 5px;
}
#footer {
    border-left:  1px solid #ccc;
    border-right: 1px solid #ccc;
}
#byline {
    margin-top: 10px;
    padding: 10px;
    font-size: 0.9em;
    border-top:   1px solid #bbb;
}
